@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Spectral:wght@300;400;700&display=swap');

html, body{
  background-color: #C6dABF;
  margin: 0;
  padding: 0;
  font-family: "Oxygen", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  overflow-x: hidden;
}

.navText .nav-item .nav-link:hover{
  color: #7DC242; 
}

.eventNavLink:hover {
  color: #7DC242 !important;
}

.bg-saseblue {
  background-color: #0668b3;
}

.text-themeBlue {
  color: #06436e;
}

.bg-pageThemeBlue {
  background-color: #06436e;
}

.bg-sasegreen {
  background-color: #7DC242;
}

.text-saseblue {
  color: #0668b3;
}

.title-heading h1 {
  color: #06436e;
  font-size: 4rem;
}

.mission {
  color: #7DC242;
  background-color: #06436e;
}

.index-heading {
  color: #06436e;
}

.index-heading h1 {
  font-size: 5rem;
  text-shadow: 3px 0 0 #fff, 0 -3px 0 #fff, 0 3px 0 #fff, -3px 0 0 #fff;
  font-family: "Oxygen", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* @media (max-width: 830px) {
  .heading h1 {
    font-size: 3rem;
  }

  .heading p {
    font-size: 1.5rem !important;
  }
} */

@media (max-width: 1280px) {
  .heading h1 {
    font-size: 4rem;
  }

  .heading p {
    font-size: 2rem !important;
  }
}

@media (max-width: 1030px) {
  .heading h1 {
    font-size: 3.25rem;
  }

  .heading p {
    font-size: 1.75rem !important;
  }
}


@media (max-width: 576px) {
  .heading h1 {
    font-size: 2.5rem;
  }

  .heading p {
    font-size: 1rem !important;
  }
}


.title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  transition: top .4s;
}

.title h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  padding-top: 4rem;
  background: whitesmoke;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}

.title p {
  padding-top: 1rem;
}

@media (max-width: 576px) {
  .title {
    top: 40%;
  }

  .title h1 {
    font-size: 2.5rem;
  }
}

.masthead {
  .img1 {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 40rem;
    padding: 0 0 25rem 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000 100%), url("/resources/PastEvent3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  .img2 {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 40rem;
    padding: 0 0 25rem 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000 100%), url("/resources/Slideshow3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  .img3 {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 40rem;
    padding: 0 0 25rem 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000 100%), url("/resources/Slideshow5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
}

/* .masthead h1, .masthead .h1 {
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 3rem;
  padding-top: 5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  position: absolute;
  background: whitesmoke;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.masthead h2, .masthead .h2 {
  max-width: 40rem;
  font-size: 1rem;
} */

.masthead-aboutUs {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 0 0 25rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 75%, #000 100%), url("/resources/AboutUs.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead-aboutUs h1, .masthead-aboutUs .h1 {
  font-size: 3rem;
  padding-top: 5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: whitesmoke;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.masthead-aboutUs h2, .masthead-aboutUs .h2 {
  max-width: 40rem;
  font-size: 1rem;
}

.aboutUs-mission h2 {
  font-size: 4rem;
}

.welcome {
  background-color: #8b6bb3;
}

.btn-light-bluehover:hover {
  background-color: #C6dABF;
}

.carousel-item {
  height: 20rem;
  background-image: url();
  background-position: center;
  background-size: cover;
  align-items: center;
}

.carousel-item h1{
  color: white;
  text-align: center;
  position: relative;
  top: 75%;
  font-weight: 800;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 5vw;
  height: 5vw;
  border-radius: 100px;
  
}

.indicator{
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}

.TPPic{
  height: 400px;
  width: 500px;
}

.sponser {
  margin: 25px;
}

.pic {
  border-radius: 10px;
  height: 200px;
  width: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  
}

.eboard h2 {
  font-size: 4rem;
  color: #06436e;
}

.eboard h6{
  font-size: 1.3rem;
  font-weight: bold;
}

#president{
  background-image: url('../eboard/2022-23/AerynSindiong.jpg');
}

#vp{
  background-image: url('../eboard/2023-24/AndrewCao.PNG');
}

#secretary{
  background-image: url('../eboard/2023-24/FaithLoh.jpg');
}

#treasurer{
  background-image: url('../eboard/2023-24/MichelleVo.jpg');
}

#pr{
  background-image: url('../eboard/2023-24/JacobNguyen.jpeg');
}

#historian{
  background-image: url('../eboard/2023-24/Camila.jpg');
}

#gd{
  background-image: url('../eboard/2023-24/MilanNguyen.jpg');
}

#wm{
  background-image: url('../eboard/2023-24/FarisKhattak.JPG');
}

#fc{
  background-image: url('../eboard/2023-24/EmilyLin.jpeg');
}

#oc{
  background-image: url('../eboard/2023-24/RichardJiang.JPG');
}

#pdc{
  background-image: url("../eboard/2023-24/GrishmaShrestha.JPG");
}

.pb{
  font-weight: bold;
}

.eventHeader h1{
  color: #06436e;
  font-size: 4rem;
}

.upcomingEvents{
  background-color: whitesmoke;
}

.upcomingEvents h2{
  color: #06436e;
}

.pastEvents h2 {
  color: #06436e;
  font-size: 2.5rem;
}

.genMeetings {
  height: 20rem;
  background-color: #6c5ce7;
}

.genMeetings h3 {
  font-size: 2.5rem;
  margin-top: 8rem;
}

.genMeetings-details h2{
  color: #06436e;
  font-size: 2.5rem;
}

.professionalDev {
  height: 20rem;
  background-color: #365e7a;
}

.professionalDev h3 {
  font-size: 2.5rem;
  margin-top: 6rem;
}

.volunteering {
  height: 20rem;
  background-color: #3498db;
}

.volunteering h3 {
  font-size: 2.5rem;
  margin-top: 8rem;
}

.social {
  height: 20rem;
  background-color: #BE90D4;
}

.social h3 {
  font-size: 2.5rem;
  margin-top: 8rem;
}

.eventLinks {
  color: white;
  text-decoration: none;
  position: relative;
  left: 2%;
  margin-top: 4rem;
}

.eventLinks:hover {
  color: #C6dABF;
}

.submit-button {
  width: 10rem !important;
  text-align: center;
}

.newsletter-button:hover {
  background-color: #C6dABF !important;
  color: black;
}

.icon {
  margin: 10%;
  width: 28px;
  height: 28px;
  text-align: center;
  text-decoration: none;
  opacity: 90%;
}

.icon:hover {
  opacity: 100%;
  fill: #C6dABF;
}

#page-container {
  position: relative;
  min-height: 75vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;           /* Footer height */
}

.footerEmail {
  text-decoration: none;
  color: white;
}

.footerEmail:hover {
  color: #C6dABF;
}

#mapLocation {
  min-width: 350px;
}

@keyframes heart {
    0% {
        transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
    100%{
      transform: translateY(0px);
    }
}


.heart:hover {
  animation: 1s heart infinite;
}

.fade-in {
  opacity: 0;
  transition: opacity 700ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-right {
  transform: translateX(-25%);
  opacity: 0;
}

.from-left {
  transform: translateX(25%);
  opacity: 0;
}

.from-left, .from-right {
  transition: opacity 700ms ease-in, transform 900ms ease-in;
}
.from-left.appear, .from-right.appear {
  transform: translateX(0);
  opacity: 1;
}

.shop-button{
  width: fit-content; 
  border-color: #8b6bb3; 
  border-width: 3px; 
  color:#8b6bb3; 
  font-weight: bold;
}

.shirt:hover {
  background: #8b6bb3;
}

.shifter {
  background-color: #06436e;
}

.shop-button-div {
  border: 3px solid #c5b5d9;
  width: 50px;
  text-align: center;
}

.shop-button-div:hover {
  border-color: #8b6bb3;
  cursor: pointer;
}

.shop-button-div.selected{
  border-color: #8b6bb3;
}