body{
  overflow-x: hidden;
  /* background-image: url('resources/background.png');
  background-repeat: repeat-y;
  background-size: 100%; */
}

.navText .nav-item .nav-link:hover {
  color: greenyellow; 
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 5rem 0 25rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 75%, #000 100%), url("/resources/PastEvent3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.masthead h1, .masthead .h1 {
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 3rem;
  padding-top: 5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: whitesmoke;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.masthead h2, .masthead .h2 {
  max-width: 40rem;
  font-size: 1rem;
}

.welcome {
  background-color: #8b6bb3;
}

.carousel-item {
  height: 20rem;
  background-image: url();
  background-position: center;
  background-size: cover;
  align-items: center;
}

.carousel-item h1{
  color: white;
  text-align: center;
  position: relative;
  top: 75%;
  font-weight: 800;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 5vw;
  height: 5vw;
  border-radius: 100px;
  
}

.indicator{
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}

.TPPic{
  height: 400px;
  width: 500px;
}

.sponser {
  margin: 25px;
}

.pic {
  border-radius: 10px;
  height: 200px;
  width: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  
}

#president{
  background-image: url('EBoard/2022-23/AerynSindiong.jpg');
}

#vp{
  background-image: url('EBoard/2023-24/AndrewCao.PNG');
}

#secretary{
  background-image: url('EBoard/2023-24/FaithLoh.jpg');
}

#treasurer{
  background-image: url('EBoard/2023-24/MichelleVo.jpg');
}

#pr{
  background-image: url('EBoard/2023-24/JacobNguyen.jpeg');
}

#historian{
  background-image: url('EBoard/2023-24/Camila.jpg');
}

#gd{
  background-image: url('EBoard/2023-24/MilanNguyen.jpg');
}

#wm{
  background-image: url('EBoard/2023-24/FarisKhattak.JPG');
}

#fc{
  background-image: url('EBoard/2023-24/EmilyLin.jpeg');
}

#oc{
  background-image: url('EBoard/2023-24/RichardJiang.JPG');
}

#pdc{
  background-image: url("EBoard/2023-24/GrishmaShrestha.JPG");
}

.pb{
  font-weight: bold;
}

.icon {
  margin: 10%;
  width: 28px;
  height: 28px;
  text-align: center;
  text-decoration: none;
  opacity: 90%;
}

.icon:hover {
  opacity: 100%;
  fill: white;
}

#page-container {
  position: relative;
  min-height: 75vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

#mapLocation {
  min-width: 350px;
}

@keyframes heart {
    0% {
        transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
    100%{
      transform: translateY(0px);
    }
}


.heart:hover {
  animation: 1s heart infinite;
}

.fade-in {
  opacity: 0;
  transition: opacity 700ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-right {
  transform: translateX(-25%);
  opacity: 0;
}

.from-left {
  transform: translateX(25%);
  opacity: 0;
}

.from-left, .from-right {
  transition: opacity 700ms ease-in, transform 900ms ease-in;
}
.from-left.appear, .from-right.appear {
  transform: translateX(0);
  opacity: 1;
}

.shop-button{
  width: fit-content; 
  border-color: #8b6bb3; 
  border-width: 3px; 
  color:#8b6bb3; 
  font-weight: bold;
}

.shirt:hover {
  background: #8b6bb3;
}

.shifter {
  background-color: white;
}

.shop-button-div {
  border: 3px solid #c5b5d9;
  width: 50px;
  text-align: center;
}

.shop-button-div:hover {
  border-color: #8b6bb3;
  cursor: pointer;
}

.shop-button-div.selected{
  border-color: #8b6bb3;
}
