.carousel-item {
    height: 20rem;
    background-image: url();
    background-position: center;
    background-size: cover;
    align-items: center;
}

.carousel-item h1{
  color: white;
  text-align: center;
  position: relative;
  top: 75%;
  font-weight: 800;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 5vw;
  height: 5vw;
  border-radius: 100px;
  
}

.indicator{
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}

.TPPic{
  height: 400px;
  width: 500px;
}

.sponser {
  margin: 25px;
}

.pic {
  border-radius: 10px;
}

.pb{
  font-weight: bold;
}

.icon {
  margin: 10%;
  width: 28px;
  height: 28px;
  text-align: center;
  text-decoration: none;
  opacity: 50%;
}

.icon:hover {
  opacity: 100%;
  fill: white;
}

#page-container {
  position: relative;
  min-height: 75vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

@keyframes heart {
    0% {
        transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
    100%{
      transform: translateY(0px);
    }
}


.heart:hover {
  animation: 1s heart infinite;
}
