.home {
    overflow: hidden;
  position: relative;
}
.pillarContainer {
  white-space: nowrap;
  position: relative;
  transition: ease 1000ms;
}

.pillar {
  width: 100%;
  height: 95vh;
  position: relative;

  display: inline-block;

  align-items: center;
  justify-content: center;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.colorOverlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.headerContainer {
  width: 300px;
  margin-top: auto;
  margin-bottom: 5vh;
  margin-left: 3vw;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  position: absolute;
  bottom: 0;
}

.pillarTitle {
    font-size: 120px;
    font-weight: 500;
    font-family: "Bebas Neue";
    color: white;
    line-height: 0.9;
}

.pillarDesc {
  width: 20vw;
  color:white;
}

.missionStatement {
  margin-top: -3px; /*for some reason theres a white line between this and the title card*/
  height: auto;
  overflow: visible;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  background-color: rgb(107, 144, 128);
  color: white;

  /* font-family: "Open Sans"; */
}

.missionStatement a {
  height: auto;
  width: 15vw;
  background-color: rgb(0, 78, 100);
  border-radius: 5px;

  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1.7vw;
  font-weight: 600;

  padding: 2.2vh;
}

.missionStatement h1 {
  /* margin-top: 100px;
  height: 200px; */
  margin: 1vw 5vw -1vw 5vw;
  justify-content: center;
  text-align: center;
  font-weight: 700;
}

.missionStatement h2 {
  /* margin-top: 100px;
  height: 200px; */
  margin: 2.3vw;
  margin-bottom: -1vh;
  

  justify-content: center;
  text-align: center;
  /* font-weight: 100; */
}

.missionStatement p {
  font-size: 16px;
  font-weight: 200;
  margin: 3rem;
}

.missionPillarContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 10vh;
  gap: 5vw;
}

.missionPillar {
  background-color: rgb(0, 78, 100);
  width: 25vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
}

.missionPillar img {
  border-radius: 20px;

  height: 250px;
  object-fit: cover;
}

.missionPillar h1 {
  height: 50px;
  justify-content: center;
  align-items: center;
}

.missionPillar p {
  margin: 1rem;
}


.calendar {
  background-color: rgb(0, 78, 100);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.calendar img {
  width: 80vw;
  object-fit: contain;
  margin: 1rem;
  margin-bottom: 10vh;
}

.homeSponsors {
  height: 48vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(107, 144, 128);
}

.homeSponsors h1 {
  margin-top: 6vh;
  color: white;
  text-align: center;
}

.homeSponsors p {
  color: white;
  text-align: center;
  margin-bottom: 3vh;
  font-size: 20px;
}

.homeSponsorsList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.homeSponsors img {
  height: 10vh;
  object-fit: contain;
  margin-left: 1vw;
}

.homeSponsors a {
  height: auto;
  width: 15vw;
  background-color: rgb(0, 78, 100);
  border-radius: 5px;

  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-weight: 600;

  padding: 2vh;
  margin-bottom: 6vh;
}

@media (max-width: 1366x) { /*desktop*/
/*dont need anything in here but just leaving it here for standard formatting*/
} 

@media (max-width: 1024px) {
  .missionPillarContainer {
    margin-top: 2vh;
    margin-bottom: 6vh;
  }
  /* .calendar img {
    height: 65vh;
    object-fit: contain;
    margin: 1rem;
    margin-bottom: 80px;
  } */
}

@media (max-width: 768px) { /*tablets*/

  .missionStatement h1 {
    margin-top: 3vw;
    font-size: 4.7vw;
  }
  .pillarTitle {
    font-size: 90px;
    font-weight: 500;
    font-family: "Bebas Neue";
    color: white;
    line-height: 0.9;
  }

  .missionPillarContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
    gap: 5vw;
  }

  .missionPillar {
    background-color: rgb(0, 78, 100);
    width: 85vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
  }

  .missionPillar h1 {
    height: 4vh;
    justify-content: center;
    align-items: center;
  }

  .missionPillar p {
    font-size: 5vw;
    margin: 2rem;
  }

  .calendar img {
    width: 90vw;
    object-fit: contain;
    margin: 1rem;
    margin-bottom: px;
  }

  .homeSponsors {
    height: 50vh;
  }

  .homeSponsors img{
    height: 10vw;
  }

  .homeSponsors p {
    font-size: 2.35vw;
  }

  .homeSponsors a {
    font-size: 2.5vw;
  }
  
}

@media (max-width: 428px) { /*phones*/ 
  .pillarTitle {
    font-size: 70px;
    font-weight: 500;
    font-family: "Bebas Neue";
    color: white;
    line-height: 0.9;
  }

  .missionStatement h1 {
    font-size: 6.2vw;
    margin-bottom: -2.8vh;
  }

  .missionPillarContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
    gap: 5vw;
  }

  .missionPillar {
    background-color: rgb(0, 78, 100);
    width: 85vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
  }

  .missionPillar h1 {
    height: 4vh;
    justify-content: center;
    align-items: center;
  }

  .missionPillar p {
    font-size: 5vw;
    margin: 2rem;
  }

  .calendar h1 {
    font-size: 25px;
    margin-bottom: 0px;
  }

  .homeSponsors {
    height: 80vh;
  }

  .homeSponsors h1 {
    font-size: 23px;
    margin-top: 6vh;
    color: white;
  }

  .homeSponsors p {
    color: white;
    text-align: center;
    margin-bottom: 3vh;
  }

  .homeSponsorsList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex: 1; */
  }

  .homeSponsors a {
    width: 50vw;
    font-size: 25px;
  }
}