.navbar {
    width: 100%;
    height: 100px;
    background-color: #121619;
    display: flex;
    flex-direction: row;
}

.navbar a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin: 20px;
}

.navbar-logo {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.navbar-logo img {
    width: 180px;
}

.navbar-elements {
    flex: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-elements button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

@media only screen and (max-width: 576px) {
    
}