.home {
    overflow: hidden;
  position: relative;
}
.pillarContainer {
  white-space: nowrap;
  position: relative;
  transition: ease 1000ms;
}

.pillar {
  width: 100%;
  height: 95vh;
  position: relative;

  display: inline-block;

  align-items: center;
  justify-content: center;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.colorOverlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.headerContainer {
  width: 300px;
  margin-top: auto;
  margin-bottom: 5vh;
  margin-left: 3vw;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  position: absolute;
  bottom: 0;

}

.pillarTitle {
    font-size: 120px;
    font-weight: 500;
    font-family: "Bebas Neue";
    color: white;
    line-height: 0.9;
}

.pillarDesc {
  width: 20vw;
  color:white;
}


.missionStatement {
  margin-top: -3px; /*for some reason theres a white line between this and the title card*/
  height: auto;
  overflow: visible;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  background-color: rgb(107, 144, 128);
  color: rgb(234, 244, 244);
}

.missionStatement h1 {
  /* margin-top: 100px;
  height: 200px; */
  margin: 1rem;

  justify-content: center;
  text-align: center;
}

.missionPillarContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 10vh;
  gap: 5vw;
}

.missionPillar {
  background-color: grey;
  width: 25vw;
  display: flex;
  flex-direction: column;
}

.missionPillar img {
  height: 250px;
  object-fit: cover;
}

.missionPillar h1 {
  height: 50px;
  justify-content: center;
  align-items: center;
}

.missionPillar p {
  margin: 1rem;
}


.calendar {
  background-color: rgb(0, 78, 100);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.calendar img {
  height: 80vh;
  object-fit: contain;
  margin: 1rem;
  margin-bottom: 80px;
}


.sponsors {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sponsors img {
  width: 200px;
}

.sponsorsList {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*   
  @media only screen and (max-width: 650px) {
    .home {
      justify-content: center;
      align-items: center;
    }
    .headerContainer h1,
    .headerContainer p {
    }
  
    .headerContainer {
      margin-left: 0px;
      border-radius: 10px;
      padding: 10px;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #121619;
      color: white;
    }
  
    .headerContainer h1 {
      font-size: 40px;
      height: 30px;
      color: white;
    }
  
    .headerContainer p {
      font-size: 30px;
      color: white;
    }
  
    .headerContainer button {
      background-color: white;
      color: #121619;
      margin-bottom: 30px;
    }
  
    .headerContainer button:hover {
      background-color: rgb(225, 225, 225);
      color: #121619;
    }
  } */