@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
.theDivToRuleAllDivs {
font-family: "Akaya Kanadaka", system-ui;
  font-weight: 600;
  font-style: normal;
  font-size: 1rem;
}