@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');


.theDivToRuleAllDivs {
  background-color: #7abb83;
  padding-top: 4rem; /* Add some top padding */
  position: relative;
  z-index: 1;
}


