.hackathon {
    height: auto;
    width: 100%;
    background-color: white;
    text-align: center;
}

.hackathonTitleCard {
    height: 100vh;
    width: 100%;
    /* background-color: rgb(202, 233, 255); */
    /* margin: 2.5vw;
    border-radius: 2vw; */
    z-index: 3;

    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hackathonTitleCard h1 {
    color: white;
    font-size: 5.8vw;
    font-family: "ADLaM Display";
}

.midSection {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: center;
}

.midSection h1 {
    transform: translateY(1.5vw);
}

.globe {
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    background-color: rgb(8, 61, 119);

}

.map { /*https://verpex.com/blog/website-tips/how-to-create-an-infinite-image-slider-using-css*/
    /* height: 100%; */
    /* height: 20vw;
    width: 20vw; */
    border-radius:50%;


    display: grid;
    overflow: hidden;

    transform: translateZ(-10px);

    --d: 20s;
}

.map > img {
    grid-area: 1/1;
    height: 20vw;
    object-fit: cover;
    animation: rotate var(--d) linear infinite;
    overflow: hidden;
}
.map > img:nth-child(1) {animation-delay: calc(0*var(--d)/-2)}
.map > img:nth-child(2) {animation-delay: calc(1*var(--d)/-2)}

.clouds {
    /* height: 20vw;
    width: 20vw; */
    border-radius:50%;

    display: grid;
    overflow: hidden;

    transform: translateZ(-10px);
    transform: translateY(-20vw);
    --d: 15s;
}

.clouds > img {
    grid-area: 1/1;
    height: 20vw;
    object-fit: cover;
    animation: rotate var(--d) linear infinite;
    overflow: hidden;
}

.clouds > img:nth-child(1) {animation-delay: calc(0*var(--d)/-2)}
.clouds > img:nth-child(2) {animation-delay: calc(1*var(--d)/-2)}

@keyframes rotate {
    50%    {transform: translate(-100%)}
    50.01% {transform: translate( 100%)}
}

.hackathonAbout {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    display: flex;
    background-color: brown;
}

.hackathonAbout button {
    position: absolute;
}

.cardSlider {
    /* display: flex;
    flex-direction: column;
    align-items: center; */

    white-space: nowrap;
    transition: ease 1s;
}

.card {
    display: inline-block;
    /* position: relative; */
}